body{
    background-color: rgb(88, 81, 236);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
   
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .8s;
    padding-top: 40px;
  }
  
    .sidebar a {
    line-height: 80%;
    padding: 5px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    user-select: none;
    text-align: center;
    
    }
    .sidebar a:hover {
    color: #f1f1f1;
    font-size: 28px;
    cursor: pointer;
    }
    .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    }
    .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    transition: .8s;
    top: 0px;
    }
    .openbtn:hover {
    background-color: #444;
    }
    #contactbox {
      border-width: 0%;
      height: 60%;
      width: 40%;
      position: relative;
      margin-left: 30%;
      background-color: rgb(2, 64, 64);
      color: aliceblue;
      margin-top: 7%; 
      display: block;
      }
      #contactbox #emailform {
      padding-bottom: 2%;
      width: 94%;
      position: static;
      border: none;
      margin-top: 4%;
      font-size: 25px;
      font-family: Georgia;
      margin-left: 2%;
      padding-top: 2%;
      padding-left: 2%;
      
      
      }
      #contactbox input:hover, textarea:hover {
      background-color: cyan;
  
  
      }
      #contactbox #nameform {
      width: 94%;
      position: static;
      border: none;
      margin-left: 2%;
      margin-top: 2%;
      padding-left: 2%;
      padding-top: 2%;
      font-size: 25px;
      font-family: Georgia;
      float: left;
      padding-bottom: 2%;
      }
      #contactbox #subjectform {
      padding-bottom: 2%;
      width: 94%;
      position: static;
      border: none;
      margin-left: 2%;
      margin-top: 2%;
      padding-left: 2%;
      padding-top: 2%;
      font-size: 25px;
      font-family: Georgia;
      
      }
      #contactbox #messageform {
      padding-bottom: 2%;
      width: 94%;
      position: static;
      border: none;
      margin-left: 2%;
      padding-top: 2%;
      padding-left: 2%;
      font-size: 25px;
      font-family: Georgia;
      margin-top: 2%;
      }
  
      #contactbox #send{
        border-radius: 30px;
        background-color: rgb(65, 196, 142);
        font-size: 25px;
        font-family: Georgia;
        position: static;
        width: 75%;
        margin-left: 12.5%;
        box-shadow: #444;
        margin-top: 2%;
        margin-bottom: 2%;
  
      }
      #contactbox #send:hover{
        background-color: rgb(29, 248, 164);
        transition: .3s;
      }

    #title #intro{
        position: fixed;
    }
    #title #myName{
    position:fixed;
    top: 150px;
    left: 250px;
    font-size: 150px;
    padding: 10px;
    }
    #title #myName {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgb(42, 82, 202)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
    }
    #title #myName:hover {
    color:blue;
    cursor:default;
    transition: .3s;
    font-size: 153px;
    background-size: 0 3px, 100% 3px;
    }

    .loader-wrapper{
        width: 100%;
        height: 100%;
        background: rgba(0,9,30,255) url(preloader.gif);
        position: flex;
        justify-content: center;
        align-items: center;
        top:0px;
        left:0px;
    }

    .disappear {
        animation: vanish 1s forwards;

    }

    @keyframes vanish {
        100%{
            oppacity:0;
            visibility: hidden;
        }
    }






 @media screen and (max-width: 768px) {
    #contactbox {
      border-width: 0%;
      height: 60%;
      width: 95%;
      position: relative;
      margin-left: 2.5%;
      background-color: rgb(2, 64, 64);
      color: aliceblue;
      margin-top: 7%; 
      display: block;
      }
        #contactbox #emailform {
        padding-left: 2%;
        width: 90%;
        }
        #contactbox #nameform {
          padding-left: 2%;
          width: 90%;
        }
        #contactbox #subjectform {
          padding-left: 2%;
          width: 90%;
        
        }
        #contactbox #messageform {
        padding-left: 2%;
        width: 90%;
        
        }
        #contactbox #send{
          padding-left: 2%;
    
        }
    #resume {
      height: 110%;
      width: 98%;
      margin-left: 1%;
    }   

  }
