body{
    background-color: #30475E;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: green;

}
  
h1 {
  margin-left: 7.5vw;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: #222831;
    overflow-x: hidden;
    transition: .8s;
    padding-top: 40px;
  }
  
    .sidebar a {
    line-height: 80%;
    padding: 5px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    user-select: none;
    text-align: center;
    
    }
    .sidebar a:hover {
    color: #F05454;
    font-size: 28px;
    cursor: pointer;
    }
    .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    }
    .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: #222831;
    color: white;
    padding: 10px 15px;
    border: none;
    transition: .8s;
    position: fixed;
    top: .75vh;
    left: .75vw;
    position: fixed;
    z-index: 99;

    }
    .openbtn:hover {
    background-color: #444;
    }

    #contactbox #contacttext {
      
      border-width: 0%;
      height: 100%;
      width: 66%;
      position: absolute;
      background-color: rgb(153, 53, 200);
      color: aliceblue;
      margin-top: -82.8%; 
      display: block;
      margin-left: 100%;
      }

    #contactbox {
      border-width: 0%;
      height: 60vh;
      width: 40vw;
      position: relative;
      margin-left: 17.5%;
      background-color: rgb(2, 64, 64);
      color: aliceblue;
      margin-top: 7%; 
      display: block;
      }
      #contactbox #emailform {
      background-color: #DDDDDD;
      padding-bottom: 2%;
      width: 36vw;
      margin-right: 1vw;
      position: static;
      border: none;
      margin-top: 4%;
      font-size: 25px;
      font-family: Georgia;
      margin-left: 1vw;
      padding-top: 2vh;
      padding-left: 2vw;
      
      
      }
      #contactbox input:hover, textarea:hover {
      background-color: cyan;
  
  
      }
      #contactbox #nameform {
      background-color: #DDDDDD;
      width: 36vw;
      position: static;
      border: none;
      margin-left: 1vw;
      margin-top: 2vh;
      padding-left: 2vw;
      padding-top: 2vh;
      font-size: 25px;
      font-family: Georgia;
      float: left;
      padding-bottom: 2vh;
      }
      #contactbox #subjectform {
      background-color: #DDDDDD;    
      padding-bottom: 2vh;
      width: 36vw;
      position: static;
      border: none;
      margin-left: 1vw;
      margin-top: 2%;
      padding-left: 2vw;
      padding-top: 2%;
      font-size: 25px;
      font-family: Georgia;
      
      }
      #contactbox #messageform {
      background-color: #DDDDDD;
      padding-bottom: 2%;
      width: 36vw;
      position: static;
      border: none;
      margin-left: 1vw;
      padding-top: 2%;
      padding-left: 2vw;
      font-size: 25px;
      font-family: Georgia;
      margin-top: 2%;
      }
  
      #contactbox #send{
        border-radius: 30px;
        background-color: rgb(65, 196, 142);
        font-size: 25px;
        font-family: Georgia;
        position: static;
        width: 75%;
        margin-left: 12.5%;
        box-shadow: #444;
        margin-top: 2%;
        margin-bottom: 2%;
  
      }
      #contactbox #send:hover{
        background-color: rgb(29, 248, 164);
        transition: .3s;
      }

    
    #title {
    position:absolute;
    top: 150px;
    left: 250px;
    font-size: 150px;
    padding: 10px;
    width: 50%;
    }

    #title .blinking-cursor {
      font-size: 100px;
      font-weight:900;
      -webkit-animation: 1s blink step-end infinite;
      -moz-animation: 1s blink step-end infinite;
      -ms-animation: 1s blink step-end infinite;
      -o-animation: 1s blink step-end infinite;
      animation: 1s blink step-end infinite;
    }
    
    @keyframes "blink" {
      from, to {
        color: transparent;
      }
      50% {
        color: aliceblue;
      }
    }
    
    @-moz-keyframes blink {
      from, to {
        color: transparent;
      }
      50% {
        color: aliceblue;
      }
    }
    
    @-webkit-keyframes "blink" {
      from, to {
        color: transparent;
      }
      50% {
        color: aliceblue;
      }
    }
    
    @-ms-keyframes "blink" {
      from, to {
        color: transparent;
      }
      50% {
        color: aliceblue;
      }
    }
    
    @-o-keyframes "blink" {
      from, to {
        color: transparent;
      }
      50% {
        color: aliceblue;
      }
    }

    

    .loader-wrapper{
        width: 100%;
        height: 100%;
        background: rgba(0,9,30,255) url(preloader.gif);
        position: flex;
        justify-content: center;
        align-items: center;
        top:0px;
        left:0px;
    }

    .disappear {
        animation: vanish 1s forwards;

    }

    @keyframes vanish {
        100%{
            oppacity:0;
            visibility: hidden;
        }
    }

    main {
    }
    #introparagraph {
      color: aliceblue;
      position: absolute;
      top: 137vh;
      width: 50vw;
      height: 25vh;
      font-size: 30px;
      padding-left: 3vw;
      padding-top: 3vw;
      margin-left: 0%;
    }

    .container {
      position:absolute;
      top: 225vh;
      width: 100%;
      height: 10%;
      margin-right: calc();
      z-index: 30;
    }

    .container .box {
      position:relative;
      width: calc(26%);
      height: calc();
      float:left;
      margin: 3.66%;
      background-color: lightseagreen;
      padding: 5%;
      box-sizing: border-box;
      overflow: hidden;
      color: yellow;
      border-radius: 20px;
      

    }

    #banner {
      position: absolute;
      top: 210vh;
      width: 94%;
      margin-left: 1%;
      background-color: sandybrown;
      height: 7%;
      font-size: 45px;
      text-align: center;
      padding: 2%

    }

    

    #name3d {
      margin-left: 2vw;
      z-index: 31;
      margin-top: 3vh;
      
    }
      
    #canvas3d {
      margin-left: 53vw;
      margin-top: -100vh;
      [onclick]{
        cursor:grabbing;
      }
    }
    




  @media screen and (max-width: 768px) {
    #canvas3d {
      display:none;
    }

    #introparagraph {
      width: 100%;
    }
    #contactbox {
      border-width: 0%;
      height: 60%;
      width: 95%;
      position: relative;
      margin-left: 2.5%;
      background-color: rgb(2, 64, 64);
      color: aliceblue;
      margin-top: 7%; 
      display: block;
      }
        #contactbox #emailform {
        padding-left: 2%;
        width: 90%;
        }
        #contactbox #nameform {
          padding-left: 2%;
          width: 90%;
        }
        #contactbox #subjectform {
          padding-left: 2%;
          width: 90%;
        
        }
        #contactbox #messageform {
        padding-left: 2%;
        width: 90%;
        
        }
        #contactbox #send{
          padding-left: 2%;
    
        }
    #resume {
      
      width: 98%;
      margin-left: 1%;
    }   

  }
